/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background: #000; /* fundo preto */
    color: #fff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

/* Títulos das seções */
h2 {
    margin-top: 40px;
    font-size: 28px;
    color: #FFD700; /* amarelo estilo Zenitsu */
}

.sub-info {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 20px;
}

/* Grade dos cards */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

/* Cards */
.card {
    background: #111;
    border-radius: 12px;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.4);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.8);
}

/* Imagens dentro dos cards */
.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* Nome do produto */
.card h3 {
    margin: 15px 0 5px;
    font-size: 18px;
    color: #FFD700; /* amarelo */
}

/* Preço */
.preco {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 15px;
}

/* Vídeo de fundo */
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.25; /* deixa o vídeo meio transparente */
}
